@model IEnumerable<GuildCars.Models.Models.Tables.Specials>

@{
    ViewBag.Title = "Specials";
}
<h2>Specials</h2>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-12">
            @foreach (var s in Model)
            {
                <div class="col-md-12 table-bordered" style="margin-top:20px;">
                    <div class="row">
                        <div class="col-md-12 text-left"><h3>@Html.DisplayFor(m => s.Title)</h3></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-left">
                            @Html.DisplayFor(m => s.Description)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
